.menu-container {
	grid-column: 2 / span 2;
	grid-row: 3;
	display: flex;
	justify-content: center;
}

.menu-button {
	background-color: var(--main-color);
	padding: 0.5em 4em;
	border-radius: 2em;
	border: none;
	font-family: arial;
	font-weight: 600;
	font-size: 1.2em;
	text-align: center;
	box-shadow: var(--shadow-before);
	transition: all 0.5s ease-in;
}

.menu-button:hover,
.menu-item-container > *:hover {
	cursor: pointer;
}

.menu-item-container {
	margin-top: 0.5em;
	background-color: var(--main-color);
	padding-bottom: 1em;
	list-style-type: none;
}

.menu-item-container > * {
	padding: 2.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid #1a1a1a;
}

.menu {
	position:absolute;
	top: 41px;
}

@media (min-width: 768px) {
	.menu-container {
		grid-column: 2 / span 2 ;
		grid-row: 2;
	}
}

@media (min-width: 1200px) {
	.menu-container {
		grid-column: 2 / span 2 ;
		grid-row: 1;
		align-self: center;
	}
}