/* Input */
.search-container {
	grid-column:  4;
	grid-row: 1;
	align-self: center;
	margin-bottom: 0;
	display: flex;
	justify-self: center;
	margin-right: 1em;
}

.search-container-position {
	display: flex;
	justify-content: center;
	position: relative;
	width: fit-content;
}

.search-input {
	font-size: 1.1em;
	border-radius: 0.9em;
	padding: 0.2em 0 0 0.5em;
	border: 3px solid var(--main-color);
	z-index: 2;
	transition: all 0.1s linear;
}

input:focus {
	animation: inputPuls 1.5s ease-in infinite;
}

@keyframes inputPuls {
	0%, 100% {
		box-shadow: none;
	}
	50% {
		box-shadow: 2px 2px 25px var(--second-color);
	}
}

.magnifying {
	width: 1.2em;
	position: absolute;
	right: 5px;
	top: 6px;
	z-index: 3;
}