* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--shadow-before: 2px 2px 7px #c0c0c0;
	--main-color: #fed56b;
	--second-color: #9264ff;
}

.header-container {
	display: flex;
	justify-content: center;
	margin: 0;
}

.heading {
	margin-top: 0.4em;
	border-bottom: 2px solid var(--second-color);
	border-top: 2px solid var(--main-color);
	border-radius: 0 0.8em 0 0.8em;
	width: 5.5em;
	padding-left: 0.4em;
	margin-right: 0.4em;
	font-size: 4em;
}

@media (min-width: 768px) {
	.heading {
		margin-top: 0.4em;
		font-size: 5em;
	}
}
